@model NGL.Web.Models.Course.CreateModel

@{
    ViewBag.Title = "Add a New Course";
 }

<h2>Course</h2>

@using (var f = Html.BeginChameleonForm())
{
   using (var s = f.BeginSection("Info"))
    {
        @s.FieldFor(m => m.CourseCode)
        @s.FieldFor(m => m.CourseTitle)
        @s.FieldFor(m => m.NumberOfParts)
        @s.FieldFor(m => m.AcademicSubject)
        @s.FieldFor(m => m.CourseDescription)
        @s.FieldFor(m => m.DateCourseAdopted).AddClass("datepicker")
        @s.FieldFor(m => m.HighSchoolCourseRequirement)
        @s.FieldFor(m => m.CourseGPAApplicability)
        @s.FieldFor(m => m.CourseDefinedBy)
        @s.FieldFor(m => m.MinimumAvailableCreditType)
        @s.FieldFor(m => m.MinimumAvailableCreditConversion)
        @s.FieldFor(m => m.MinimumAvailableCredit)
        @s.FieldFor(m => m.MaximumAvailableCreditType)
        @s.FieldFor(m => m.MaximumAvailableCreditConversion)
        @s.FieldFor(m => m.MaximumAvailableCredit)
        @s.FieldFor(m => m.CareerPathway)
        @s.FieldFor(m => m.TimeRequiredForCompletion)
    }
    using (var n = f.BeginNavigation())
    {
        @n.Submit("Create")
    }
}


