@using System.Web.Mvc.Razor
@using NGL.Web.Infrastructure.Security
@model IEnumerable<NGL.Web.Models.Course.IndexModel>

@{
    ViewBag.Title = "Courses";
    var error = TempData["Error"] as bool?;
}

@if (error == true)
{
    <div id="error" class="alert alert-danger" role="alert">
      The course could not be deleted because it has section dependencies.
    </div>
}


<h2>Courses</h2>
@if ((User as NglPrincipal).HasAccessTo("courseGeneration", "create"))
{
    @Html.ActionLink("Create New Course", MVC.Course.Create(), new { @class = "btn btn-default" })
}

<div class="table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseDescription)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="course-code">
                        @Html.DisplayFor(modelItem => item.CourseCode)
                    </td>
                    <td class="course-title">
                        @Html.DisplayFor(modelItem => item.CourseTitle)
                    </td>
                    <td class="course-description">
                        @Html.DisplayFor(modelItem => item.CourseDescription)
                    </td>
                    <td>
                        @using (Html.BeginForm("Delete", "Course", new { Id = item.Identity }, FormMethod.Post))
                        {

                            <input class="btn btn-primary delete-row-btn" type="submit" value="Delete" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>