@using NGL.Web.Infrastructure.Security
@model IEnumerable<NGL.Web.Models.Course.IndexModel>

@{
    ViewBag.Title = "Courses";
    var error = TempData["Error"] as bool?;
}

@if (error == true)
{
    <div id="error" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        The course could not be deleted because it has section dependencies.
    </div>
}

<div class="panel panel-default index-header-panel">
    <div class="header-text">
        <h2>Courses</h2>
    </div>
    @if ((User as NglPrincipal).HasAccessTo("courseGeneration", "create"))
    {
        <div class="header-buttons">
            @Html.ActionLink("Create New Course", MVC.Course.Create(), new { @class = "btn btn-default" })
        </div>
    }
</div>
<div class="index-table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseDescription)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr data-course="@item.CourseCode">
                    <td class="course-code">
                        @Html.DisplayFor(modelItem => item.CourseCode)
                    </td>
                    <td class="course-title">
                        @Html.DisplayFor(modelItem => item.CourseTitle)
                    </td>
                    <td class="course-description">
                        @Html.DisplayFor(modelItem => item.CourseDescription)
                    </td>
                    <td class="text-right table-buttons">
                        @using (Html.BeginForm("Delete", "Course", new { Id = item.Identity }, FormMethod.Post))
                        {
                            <input class="btn btn-primary delete-row-btn" type="submit" value="Delete" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
