@model NGL.Web.Models.Account.AddUserModel
@{
    ViewBag.Title = "Add User";
}

<h2>@ViewBag.Title</h2>

@using (var f = Html.BeginNglForm("AddUser"))
{
    @Html.AntiForgeryToken()

    using (var s = f.BeginSection("Account Info"))
    {
        @s.FieldFor(m => m.Username)
        @s.FieldFor(m => m.Password)
        @s.FieldFor(m => m.ConfirmPassword)
        @s.FieldFor(m => m.Role).HideEmptyItem()
    }

    using (var s = f.BeginSection("Staff Info"))
    {
        @s.FieldFor(m => m.StaffUSI)
        @s.FieldFor(m => m.PersonalTitlePrefix)
        @s.FieldFor(m => m.FirstName)
        @s.FieldFor(m => m.LastName)
        @s.FieldFor(m => m.HispanicLatino)
        @s.FieldFor(m => m.OldEthnicityType)
        @s.FieldFor(m => m.GenerationCodeSuffix)
        @s.FieldFor(m => m.MaidenName)
        @s.FieldFor(m => m.Sex)
        @s.FieldFor(m => m.BirthDate)
        @s.FieldFor(m => m.PersonalEmail)
        @s.FieldFor(m => m.HighestCompletedLevelOfEducation)
        @s.FieldFor(m => m.YearsOfPriorProfessionalExperience)
        @s.FieldFor(m => m.YearsOfPriorTeachingExperience)
        @s.FieldFor(m => m.HighlyQualified).AsRadioList()
        @s.FieldFor(m => m.TeacherUSI)
        @s.FieldFor(m => m.CitizenshipStatus)
        @s.FieldFor(m => m.SSN)
        @s.FieldFor(m => m.Certificate1)
        @s.FieldFor(m => m.Certificate2)
        @s.FieldFor(m => m.Certificate3)
        @s.FieldFor(m => m.Certificate4)
    }

    using (var s = f.BeginSection("Clearance"))
    {
        @s.FieldFor(m => m.CriminalBackgroundCheck)
        @s.FieldFor(m => m.Fingerprinted)
    }

    using (var a = f.BeginNavigation())
    {
        @a.Submit("Register").Id("registerButton").AddClass("btn btn-primary")
    }
}

