@model NGL.Web.Models.Account.AddUserModel
@{
    ViewBag.Title = "Add User";
}

<h2>@ViewBag.Title</h2>

@using (var form = Html.BeginNglForm("AddUser"))
{
    @Html.AntiForgeryToken()
    using (var s = form.BeginSection("Create a new account"))
    {
        @s.FieldFor(m => m.Username)    
        @s.FieldFor(m => m.Password)    
        @s.FieldFor(m => m.ConfirmPassword)    
        @s.FieldFor(m => m.Role).HideEmptyItem()
     }

    using (var a = form.BeginNavigation())
    {
        @a.Submit("Register").Id("registerButton")
    }
}

