@model NGL.Web.Models.Account.AddUserModel
@{
    ViewBag.Title = "Add User";
}

<h2>@ViewBag.Title</h2>

@using (var f = Html.BeginNglForm("AddUser"))
{
    @Html.AntiForgeryToken()

    using (var s = f.BeginSection("Account Info"))
    {
        @s.FieldFor(m => m.Username)
        @s.FieldFor(m => m.Password)
        @s.FieldFor(m => m.ConfirmPassword)
        @s.FieldFor(m => m.Role).HideEmptyItem()
    }

    using (var s = f.BeginSection("Staff Info"))
    {
        @s.FieldFor(m => m.StaffUSI)
        @s.FieldFor(m => m.PersonalTitlePrefix)
        @s.FieldFor(m => m.FirstName)
        @s.FieldFor(m => m.LastName)
    
        <div class="form-group">
            <div class="checkbox-left">
                <input id="HispanicLatino" name="HispanicLatino" type="checkbox" value="true">
                <label class="custom-small-checkbox" for="HispanicLatino">
                    <span></span>
                </label>
            </div>

            <div class="label-right">
                @Html.DisplayNameFor(model => model.HispanicLatino)
            </div>

        </div>
    
        @s.FieldFor(m => m.OldEthnicityType)
        @s.FieldFor(m => m.GenerationCodeSuffix)
        @s.FieldFor(m => m.MaidenName)
        @s.FieldFor(m => m.Sex)
        @s.FieldFor(m => m.BirthDate)
        @s.FieldFor(m => m.PersonalEmail)
        @s.FieldFor(m => m.HighestCompletedLevelOfEducation)
        @s.FieldFor(m => m.YearsOfPriorProfessionalExperience)
        @s.FieldFor(m => m.YearsOfPriorTeachingExperience)
    
@*        @s.FieldFor(m => m.HighlyQualified).AsRadioList()*@
    
        <div class="form-group">
            <label class="control-label">@Html.DisplayNameFor(model => model.HighlyQualified)</label>
            
            <div class="input-group">
                <div class="checkbox-left">
                    <input id="HighlyQualified_1" name="HighlyQualified" type="radio" value="true">
                    <label class="custom-small-checkbox" for="HighlyQualified_1">
                        <span></span>
                    </label>
                </div>
                
                <div class="label-right">
                    Neither
                </div>

                <div class="checkbox-left">
                    <input id="HighlyQualified_2" name="HighlyQualified" type="radio" value="true">
                    <label class="custom-small-checkbox" for="HighlyQualified_2">
                        <span></span>
                    </label>
                </div>
                
                <div class="label-right">
                    Yes
                </div>

                <div class="checkbox-left">
                    <input id="HighlyQualified_3" name="HighlyQualified" type="radio" value="true">
                    <label class="custom-small-checkbox" for="HighlyQualified_3">
                        <span></span>
                    </label>
                </div>
                
                <div class="label-right">
                    No
                </div>
            </div>

        </div>
    
        @s.FieldFor(m => m.TeacherUSI)
        @s.FieldFor(m => m.CitizenshipStatus)
        @s.FieldFor(m => m.SSN)
        @s.FieldFor(m => m.Certificate1)
        @s.FieldFor(m => m.Certificate2)
        @s.FieldFor(m => m.Certificate3)
        @s.FieldFor(m => m.Certificate4)
    }

    using (var s = f.BeginSection("Clearance"))
    {
        <div class="form-group">
            <div class="checkbox-left">
                <input id="CriminalBackgroundCheck" name="CriminalBackgroundCheck" type="checkbox" value="true">
                <label class="custom-small-checkbox" for="CriminalBackgroundCheck">
                    <span></span>
                </label>
            </div>

            <div class="label-right">
                @Html.DisplayNameFor(model => model.CriminalBackgroundCheck)
            </div>

        </div>
    
        <div class="form-group">
            <div class="checkbox-left">
                <input id="Fingerprinted" name="Fingerprinted" type="checkbox" value="true">
                <label class="custom-small-checkbox" for="Fingerprinted">
                    <span></span>
                </label>
            </div>

            <div class="label-right">
                @Html.DisplayNameFor(model => model.Fingerprinted)
            </div>

        </div>
    }

    using (var a = f.BeginNavigation())
    {
        @a.Submit("Register").Id("registerButton").AddClass("btn btn-primary")
    }
}

@section Scripts {
    Ngl.shared.checkboxesAndRadioButtons.init();
}
