@using Microsoft.AspNet.Identity
@model NGL.Web.Models.Account.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

@if (ViewBag.StatusMessage == "Your password has been changed.")
{
    <div id="password-edit-success" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        @ViewBag.StatusMessage
    </div>
}

@if (ViewBag.StatusMessage == "An error has occurred.")
{
    <div id="password-edit-error" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        @ViewBag.StatusMessage
    </div>
}

<h2>@ViewBag.Title</h2>

<p>You're logged in as <strong>@User.Identity.GetUserName()</strong></p>

@using (var f = Html.BeginNglForm())
{
    @Html.AntiForgeryToken()

    using (var s = f.BeginSection())
    {
        @s.FieldFor(m => m.CurrentPassword)
        @s.FieldFor(m => m.NewPassword)
        @s.FieldFor(m => m.ConfirmPassword)
    }

    using (var n = f.BeginNavigation())
    {
        @n.Submit("Change Password").AddClass("btn btn-primary")
    }
}