@model NGL.Web.Models.Account.LoginModel

@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title</h2>


@using (var f = Html.BeginNglForm())
{
    @Html.AntiForgeryToken()

    using (var s = f.BeginSection())
    {
        @s.FieldFor(m => m.Username)
        @s.FieldFor(m => m.Password)
        @s.FieldFor(m => m.RememberMe)
    }

    using (var n = f.BeginNavigation())
    {
        @n.Submit("Log in").AddClass("btn btn-primary")
    }
}