@model NGL.Web.Models.Account.LoginModel

@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title</h2>


@using (var f = Html.BeginNglForm())
{
    @Html.AntiForgeryToken()

    using (var s = f.BeginSection())
    {
        @s.FieldFor(m => m.Username)
        @s.FieldFor(m => m.Password)
    
        <div class="form-group">
            <div class="checkbox-left">
                <input id="RememberMe" name="RememberMe" type="checkbox" value="true">
                <label class="custom-small-checkbox" for="RememberMe">
                    <span></span>
                </label>
            </div>
            
            <div class="label-right">
                @Html.DisplayNameFor(model => model.RememberMe)
            </div>

        </div>
    }

    using (var n = f.BeginNavigation())
    {
        @n.Submit("Log in").AddClass("btn btn-primary")
    }
}

@section Scripts {
    Ngl.shared.checkboxesAndRadioButtons.init();
}
