@using NGL.Web.Infrastructure.Security
@using StackExchange.Profiling
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
@using StackExchange.Profiling;
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NGL Platform</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Assets/Scripts/lib/jquery-ui-1.11.0/bundle")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Edit", "School", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="text-center" href="@Url.Action("Index", "Home")">     
                            <span class="fa fa-home fa-2x"></span>
                            <br />
                            Home
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a class="text-center dropdown-toggle" href="#" data-toggle="dropdown">
                                <span class="fa fa-book fa-2x"></span>
                                <br />
                                Planning
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                @if((User as NglPrincipal).HasAccessTo("enrollment", "create"))
                                {
                                    <li>@Html.ActionLink("Enrollment", "CreateStudent", "Enrollment")</li>
                                }
                                <li>@Html.ActionLink("Course Generation", "Index", "CourseGeneration")</li>
                            </ul>
                        </li>
                        <li>
                            <a class="text-center" href="#">
                                <span class="fa fa-file-text-o fa-2x"></span>
                                <br />
                                Attendance
                            </a>
                        </li>
                        <li>
                            <a class="text-center" href="@Url.Action(MVC.Assessment.Index())">
                                <span class="fa fa-child fa-2x"></span>
                                <br />
                                Assessment
                            </a>
                        </li>
                        <li>
                            <a class="text-center" href="@Url.Action(MVC.Student.All())">
                                <span class="fa fa-user fa-2x"></span>
                                <br />
                                Profile
                            </a>
                        </li>
                        <li>
                            <a class="text-center" href="@Url.Action(MVC.Student.Reports())">
                                <span class="fa fa-flag-o fa-2x"></span>
                                <br />
                                Reports
                            </a>
                        </li>
                        <li>
                            <a class="text-center" href="@Url.Action("Users", "Account")">
                                <span class="fa fa-users fa-2x"></span>
                                <br />
                                Users
                            </a>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="footer-with-hr col-md-12 col-xs-12">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Next Generation Learning Platform</p>
            </footer>
        </div>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/views")
    @Scripts.Render("~/bundles/jquery-ui")
    
    <script type="text/javascript">
        @RenderSection("scripts", required: false)
    </script>

    @MiniProfiler.RenderIncludes()
</body>
</html>
