@using NGL.Web.Infrastructure.Security
@model IEnumerable<NGL.Web.Models.Section.IndexModel>

@{
    ViewBag.Title = "Sections";
    var success = TempData["ShowSuccess"] as bool?;
}

@if (success == true)
{
    <div id="profile-edit-success" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Section successfully deleted
    </div>
}
@if (success == false)
{
    <div id="profile-edit-error" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Section cannot be deleted. It may already be in use.
    </div>
}

<h2>Sections</h2>
@if ((User as NglPrincipal).HasAccessTo("courseGeneration", "create"))
{
     @Html.ActionLink("Create New Section", MVC.Section.Create(), new { @class = "btn btn-default" })
}

<div class="table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SchoolYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Term)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocalCourseCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClassPeriod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Classroom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UniqueSectionCode)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr data-section="@item.SectionIdentity">
                    <td>
                        @Html.DisplayFor(modelItem => item.SchoolYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Term)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocalCourseCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassPeriod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Classroom)
                    </td>
                    <td class="section-code">
                        @Html.DisplayFor(modelItem => item.UniqueSectionCode)
                    </td>
                    @if ((User as NglPrincipal).HasAccessTo("courseGeneration", "delete"))
                    {
                        <td>
                            <form action="/Section/Delete" method="POST">
                                <input type="hidden" name="sectionIdentity" value="@item.SectionIdentity" />
                                <input type="submit" class="btn btn-primary pull-right delete-row-btn" value="Delete" />
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>