@using NGL.Web.Infrastructure.Security
@model IEnumerable<NGL.Web.Models.ParentCourse.IndexModel>

@{
    ViewBag.Title = "Parent Courses";
}

<h2>Parent Courses</h2>
@if ((User as NglPrincipal).HasAccessTo("courseGeneration", "create"))
{
    @Html.ActionLink("Add Parent Course", MVC.ParentCourse.Create(), new { @class = "btn btn-default" })
}

<div class="table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ParentCourseCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentCourseTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentCourseDescription)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="parent-course-code">
                        @Html.DisplayFor(modelItem => item.ParentCourseCode)
                    </td>
                    <td class="parent-course-title">
                        @Html.DisplayFor(modelItem => item.ParentCourseTitle)
                    </td>
                    <td class="parent-course-description">
                        @Html.DisplayFor(modelItem => item.ParentCourseDescription)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", MVC.ParentCourse.Edit(item.Id), new { @class = "btn btn-primary" })
                    </td>
                    <td>
                        @using (Html.BeginForm("Delete","ParentCourse", new { Id = item.Id}, FormMethod.Post))
                        {
    
                        <input class="btn btn-primary delete-row-btn" type="submit" value="Delete" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>