@using NGL.Web.Infrastructure.Security
@model IEnumerable<NGL.Web.Models.ParentCourse.IndexModel>

@{
    ViewBag.Title = "Parent Courses";
    var error = TempData["Error"] as bool?;
}

@if (error == true)
{
    <div id="error" class="alert alert-danger" role="alert">
        The parent course could not be deleted because it has course or parent course grade dependencies.
    </div>
}

<div class="panel panel-default index-header-panel">
    <div class="header-text">
        <h2>Parent Courses</h2>
    </div>
    @if ((User as NglPrincipal).HasAccessTo("courseGeneration", "create"))
    {
        <div class="header-buttons">
            @Html.ActionLink("Add Parent Course", MVC.ParentCourse.Create(), new { @class = "btn btn-default" })
        </div>
    }
</div>
<div class="index-table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ParentCourseCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentCourseTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentCourseDescription)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr data-course="@item.ParentCourseCode">
                    <td class="parent-course-code">
                        @Html.DisplayFor(modelItem => item.ParentCourseCode)
                    </td>
                    <td class="parent-course-title">
                        @Html.DisplayFor(modelItem => item.ParentCourseTitle)
                    </td>
                    <td class="parent-course-description">
                        @Html.DisplayFor(modelItem => item.ParentCourseDescription)
                    </td>
                    <td class="text-right table-buttons">
                        @Html.ActionLink("Edit", MVC.ParentCourse.Edit(item.Id), new { @class = "btn btn-default inline-block" })
                        @using (Html.BeginForm("Delete", "ParentCourse", new { Id = item.Id }, FormMethod.Post))
                        {
                            <input class="btn btn-primary delete-row-btn inline-block" type="submit" value="Delete" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
