@model NGL.Web.Models.Enrollment.CreateStudentModel
@{
    ViewBag.Title = "Enrollment";
}

<div class="panel panel-default form-header">
    <h2>Enrollment</h2>
</div>
    @using (var f = Html.BeginNglForm())
{


    using (var s = f.BeginSection(""))
    {
        <div class="panel panel-default">
            <div class="row margin-bottom-10">
                <div class="enrollment-step">
                    Student Information
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4">
                    @s.FieldFor(m => m.StudentUsi)
                    @s.FieldFor(m => m.FirstName)
                    @s.FieldFor(m => m.LastName)
                    @s.FieldFor(m => m.Sex)
                    @s.FieldFor(m => m.BirthDate)
                    @s.FieldFor(m => m.Race)
                
                <div class="form-group">
                    <div class="checkbox-left">
                        <input id="HispanicLatinoEthnicity" name="HispanicLatinoEthnicity" type="checkbox" value="true">
                        <label class="custom-small-checkbox" for="HispanicLatinoEthnicity">
                            <span></span>
                        </label>
                    </div>

                    <div class="label-right">
                        @Html.DisplayNameFor(model => model.HispanicLatinoEthnicity)
                    </div>

                </div>
            </div>

                <div class="col-sm-6">
                    @s.FieldFor(m => m.Address)
                    @s.FieldFor(m => m.Address2)
                    @s.FieldFor(m => m.City)
                    @s.FieldFor(m => m.State)
                    @s.FieldFor(m => m.PostalCode)
                    @s.FieldFor(m => m.HomeLanguage)
                </div>
            </div>
        </div>
        <div class="panel panel-default padding-bottom-50">
            <div class="row">
                <div class="enrollment-step">
                    Parent Information
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4">
                <div class="parent-info">
                        <h3 class="no-margin">First Parent Information</h3>
                        @s.FieldFor(m => m.FirstParent.FirstName)
                        @s.FieldFor(m => m.FirstParent.LastName)
                        @s.FieldFor(m => m.FirstParent.Sex)
                        @s.FieldFor(m => m.FirstParent.RelationshipToStudent)
                        @s.FieldFor(m => m.FirstParent.TelephoneNumber)
                        @s.FieldFor(m => m.FirstParent.EmailAddress)
                    
                    <div class="form-group">
                        <div class="checkbox-left">
                            <input id="FirstParent_MakeThisPrimaryContact" name="FirstParent.MakeThisPrimaryContact" type="checkbox" value="true">
                            <label class="custom-small-checkbox" for="FirstParent_MakeThisPrimaryContact">
                                <span></span>
                            </label>
                        </div>

                        <div class="label-right">
                            @Html.DisplayNameFor(model => model.FirstParent.MakeThisPrimaryContact)
                        </div>

                    </div>
                    
                    <div class="form-group">
                        <div class="checkbox-left">
                            <input id="FirstParent_SameAddressAsStudent" name="FirstParent.SameAddressAsStudent" 
                                   checked="checked" class="same-address-as-student" type="checkbox" value="true">
                            <label class="custom-small-checkbox" for="FirstParent_SameAddressAsStudent">
                                <span></span>
                            </label>
                        </div>

                        <div class="label-right">
                            @Html.DisplayNameFor(model => model.FirstParent.SameAddressAsStudent)
                        </div>

                    </div>

                        <div class="parent-address">
                            @s.FieldFor(m => m.FirstParent.Address)
                            @s.FieldFor(m => m.FirstParent.Address2)
                            @s.FieldFor(m => m.FirstParent.City)
                            @s.FieldFor(m => m.FirstParent.PostalCode)
                            @s.FieldFor(m => m.FirstParent.State)
                        </div>
                    </div>

                <div class="form-group">
                    <div class="checkbox-left">
                        <input id="AddSecondParent" name="AddSecondParent" type="checkbox" value="true">
                        <label class="custom-small-checkbox" for="AddSecondParent">
                            <span></span>
                        </label>
                    </div>

                    <div class="label-right">
                        @Html.DisplayNameFor(model => model.AddSecondParent)
                    </div>

                </div>
                

                </div>
                <div class="col-sm-6 col-md-5 col-lg-4">
                <div class="parent-info">
                        <h3 class="no-margin">Second Parent Information</h3>
                        @s.FieldFor(m => m.SecondParent.FirstName)
                        @s.FieldFor(m => m.SecondParent.LastName)
                        @s.FieldFor(m => m.SecondParent.Sex)
                        @s.FieldFor(m => m.SecondParent.RelationshipToStudent)
                        @s.FieldFor(m => m.SecondParent.TelephoneNumber)
                        @s.FieldFor(m => m.SecondParent.EmailAddress)

                    <div class="form-group">
                        <div class="checkbox-left">
                            <input id="SecondParent_MakeThisPrimaryContact" name="SecondParent.MakeThisPrimaryContact" type="checkbox" value="true">
                            <label class="custom-small-checkbox" for="SecondParent_MakeThisPrimaryContact">
                                <span></span>
                            </label>
                        </div>

                        <div class="label-right">
                            @Html.DisplayNameFor(model => model.SecondParent.MakeThisPrimaryContact)
                        </div>

                    </div>

@*                    @s.FieldFor(m => m.SecondParent.SameAddressAsStudent).AddClass("same-address-as-student")*@
                    
                    <div class="form-group">
                        <div class="checkbox-left">
                            <input id="SecondParent_SameAddressAsStudent" name="SecondParent.SameAddressAsStudent" 
                                   checked="checked" class="same-address-as-student" type="checkbox" value="true">
                            <label class="custom-small-checkbox" for="SecondParent_SameAddressAsStudent">
                                <span></span>
                            </label>
                        </div>

                        <div class="label-right">
                            @Html.DisplayNameFor(model => model.SecondParent.SameAddressAsStudent)
                        </div>

                    </div>
                    

                        <div class="parent-address">
                            @s.FieldFor(m => m.SecondParent.Address)
                            @s.FieldFor(m => m.SecondParent.Address2)
                            @s.FieldFor(m => m.SecondParent.City)
                            @s.FieldFor(m => m.SecondParent.PostalCode)
                            @s.FieldFor(m => m.SecondParent.State)
                        </div>
                    </div>
                </div>
            </div>
        <div class="submit-student-button-container col-md-7">
            @using (var n = f.BeginNavigation())
            {
                @n.Submit("Save and Continue").AddClass("submit-student-button btn btn-primary")
            }
        </div>
            </div>
        }
    }
@section Scripts {
    Ngl.enrollment.createStudent.init();
    Ngl.shared.checkboxesAndRadioButtons.init();
}
