@model NGL.Web.Models.Enrollment.CreateStudentModel

@{
    ViewBag.Title = "Enrollment";
}

<h2>Enrollment</h2>
@using (var f = Html.BeginChameleonForm())
{
    using (var s = f.BeginSection("Enroll a student"))
    {
        @s.FieldFor(m => m.StudentUsi)
        @s.FieldFor(m => m.FirstName)
        @s.FieldFor(m => m.LastName)
        @s.FieldFor(m => m.SexTypeEnum)
        @s.FieldFor(m => m.BirthDate).AddClass("datepicker")
        @s.FieldFor(m => m.HispanicLatinoEthnicity)
        @s.FieldFor(m => m.OldEthnicityTypeEnum)
        @s.FieldFor(m => m.StreetNumberName)
        @s.FieldFor(m => m.ApartmentRoomSuiteNumber)
        @s.FieldFor(m => m.City)
        @s.FieldFor(m => m.StateAbbreviationTypeEnum)
        @s.FieldFor(m => m.PostalCode)
        @s.FieldFor(m => m.LanguageDescriptorEnum)
    
        <h3>Parent Information</h3>
        @s.FieldFor(m => m.ParentEnrollmentInfoModel.ParentUsi)
        @s.FieldFor(m => m.ParentEnrollmentInfoModel.ParentFirstName)
        @s.FieldFor(m => m.ParentEnrollmentInfoModel.ParentLastName)
        @s.FieldFor(m => m.ParentEnrollmentInfoModel.SexTypeEnum)
@*        @s.FieldFor(m => m.ParentEnrollmentInfoModel.RelationshipToStudent)*@
@*        @s.FieldFor(m => m.ParentEnrollmentInfoModel.ParentPhoneNumber)*@
@*        @s.FieldFor(m => m.ParentEnrollmentInfoModel.ParentEmailAddress) *@
@*        @s.FieldFor(m => m.ParentEnrollmentInfoModel.IsPrimaryContact) *@
        
    }
    
@*    <h3>Other} Contact</h3>*@
@*    @Html.Partial("_ParentEnrollentInfo")*@
    
    using (var n = f.BeginNavigation())
    {
        @n.Submit("CreateStudent")
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
