@model NGL.Web.Models.Enrollment.CreateStudentModel

@{
    ViewBag.Title = "Enrollment";
}

<h2>Enrollment</h2>
@using (var f = Html.BeginChameleonForm())
{
    using (var s = f.BeginSection("Enroll a student"))
    {
        @s.FieldFor(m => m.StudentUsi)
        @s.FieldFor(m => m.FirstName)
        @s.FieldFor(m => m.LastName)
        @s.FieldFor(m => m.Sex)
        @s.FieldFor(m => m.BirthDate).AddClass("datepicker")
        @s.FieldFor(m => m.HispanicLatinoEthnicity)
        @s.FieldFor(m => m.Race)
        @s.FieldFor(m => m.Address)
        @s.FieldFor(m => m.Address2)
        @s.FieldFor(m => m.City)
        @s.FieldFor(m => m.State)
        @s.FieldFor(m => m.PostalCode)
        @s.FieldFor(m => m.HomeLanguage)
    
        <h3>Parent Information</h3>
        @s.FieldFor(m => m.ParentEnrollmentInfoModel.FirstName)
        @s.FieldFor(m => m.ParentEnrollmentInfoModel.LastName)
        @s.FieldFor(m => m.ParentEnrollmentInfoModel.Sex)
        @s.FieldFor(m => m.ParentEnrollmentInfoModel.RelationshipToStudent)
        @s.FieldFor(m => m.ParentEnrollmentInfoModel.TelephoneNumber)
        @s.FieldFor(m => m.ParentEnrollmentInfoModel.EmailAddress) 
        @s.FieldFor(m => m.ParentEnrollmentInfoModel.MakeThisPrimatyContact) 
        
    }
    
    using (var n = f.BeginNavigation())
    {
        @n.Submit("CreateStudent")
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
