@model NGL.Web.Models.Enrollment.EnterProgramStatusModel

@{
    ViewBag.Title = "Program Status";
    var fileAttributes = new {type = "file", @class = "form-control", disabled = "disabled"};
}

<h2>Program Status</h2>

@using (Html.BeginForm("EnterProgramStatus", "Enrollment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="inline separator">
        @Html.EditorFor(m => m.TestingAccommodation)
        @Html.TextBoxFor(m => m.TestingAccommodationFile, fileAttributes)
    </div>

    <div class="inline separator">
        @Html.EditorFor(m => m.BilingualProgram)
    </div>

    <div class="inline separator">
        @Html.EditorFor(m => m.EnglishAsSecondLanguage)
    </div>

    <div class="inline separator">
        @Html.LabelFor(m => m.FoodServiceEligibilityStatus)
        @Html.EnumDropDownListFor(m => m.FoodServiceEligibilityStatus)
    </div>

    <div class="inline separator">
        @Html.EditorFor(m => m.Gifted)
    </div>

    <div class="inline separator">
        @Html.EditorFor(m => m.SpecialEducation)
        @Html.TextBoxFor(m => m.SpecialEducationFile, fileAttributes)
    </div>

    <div class="inline separator">
        @Html.EditorFor(m => m.TitleParticipation)
        @Html.TextBoxFor(m => m.TitleParticipationFile, fileAttributes)
    </div>

    <div class="inline separator">
        @Html.EditorFor(m => m.McKinneyVento)
        @Html.TextBoxFor(m => m.McKinneyVentoFileUrl, fileAttributes)
    </div>

    <input type="submit" class="btn btn-default" value="Submit" />
    }


@section scripts
{
    Ngl.enrollment.enterProgramStatus.init();
}
