@using System.Diagnostics.Eventing.Reader
@using System.Net.Mime
@model NGL.Web.Models.Enrollment.AcademicDetailModel

@{
    ViewBag.Title = "Academic Details";
}

<h2 class="title">Academic Details</h2>

@using (var f = Html.BeginNglForm(method: FormMethod.Post, enctype: EncType.Multipart))
{
    using (var r = f.BeginSection("Enter student's previous grade or percentage for each subject below"))
    {
        @Html.HiddenFor(s => s.StudentUsi)
        @r.FieldFor(s => s.Reading)
        @r.FieldFor(s => s.Writing)
        @r.FieldFor(s => s.Math)
        @r.FieldFor(s => s.SchoolYear)
        @r.FieldFor(s => s.AnticipatedGrade)
    }

    <h2>Performance History</h2>
    using (var t = f.BeginSection("Elaborate on the student's performance history and upload performance records"))
    {
        @t.FieldFor(s => s.PerformanceHistory)
        @t.FieldFor(s => s.PerformanceHistoryFile).Attr("type", "file")
    }

    using (var v = f.BeginNavigation())
    {
        @v.Submit("Save and Continue").Id("submit-details")
    }
}
