@model NGL.Web.Models.Enrollment.EnterProgramStatusModel

@{
    ViewBag.Title = "Program Status";
    var fileAttributes = new {type = "file", @class = "form-control", disabled = "disabled"};
}

<div class="panel panel-default form-header">
    <h2>Program Status</h2>
</div>

@using (var f = Html.BeginNglForm(method: FormMethod.Post, enctype: EncType.Multipart))
{
    using (var s = f.BeginSection())
    {
        <div class="panel panel-default top-buffer-20">
            <div>
                @Html.LabelFor(m => m.TestingAccommodation) *
            </div>
            <div class="form-group">
                
                <div class="input-group inline-block">
                    <div class="large-checkbox-left">
                        <input type="radio" id="TestingAccommodation_1" name="TestingAccommodation" value="true">
                        <label class="custom-large-checkbox" for="TestingAccommodation_1">
                            <span class="fa fa-check fa-2x"></span>
                        </label>
                    </div>
                
                    <div class="large-label-right">
                        Yes
                    </div>

                    <div class="large-checkbox-left">
                        <input checked type="radio" id="TestingAccommodation_2" name="TestingAccommodation" value="false">
                        <label class="custom-large-checkbox" for="TestingAccommodation_2">
                            <span class="fa fa-check fa-2x"></span>
                        </label>
                    </div>
                
                    <div class="large-label-right">
                        No
                    </div>
                </div>
                
                <div class="file-upload">
                    @s.FieldFor(m => m.TestingAccommodationFile).Attrs(fileAttributes).Label("")
                </div>
                <div>
                    @Html.ValidationMessageFor(m => m.TestingAccommodation)
                </div>

            </div>

        </div>

        <div class="panel panel-default top-buffer-20">
            <div>
                @Html.LabelFor(m => m.BilingualProgram) *
            </div>
            <div class="form-group">

                <div class="input-group inline-block">
                    <div class="large-checkbox-left">
                        <input type="radio" id="BilingualProgram_1" name="BilingualProgram" value="true">
                        <label class="custom-large-checkbox" for="BilingualProgram_1">
                            <span class="fa fa-check fa-2x"></span>
                        </label>
                    </div>

                    <div class="large-label-right">
                        Yes
                    </div>

                    <div class="large-checkbox-left">
                        <input checked type="radio" id="BilingualProgram_2" name="BilingualProgram" value="false">
                        <label class="custom-large-checkbox" for="BilingualProgram_2">
                            <span class="fa fa-check fa-2x"></span>
                        </label>
                    </div>

                    <div class="large-label-right">
                        No
                    </div>
                </div>

                <div>
                    @Html.ValidationMessageFor(m => m.BilingualProgram)
                </div>

            </div>
        </div>

    <div class="panel panel-default top-buffer-20">
        <div>
            @Html.LabelFor(m => m.EnglishAsSecondLanguage) *
        </div>
        <div class="form-group">

            <div class="input-group inline-block">
                <div class="large-checkbox-left">
                    <input type="radio" id="EnglishAsSecondLanguage_1" name="EnglishAsSecondLanguage" value="true">
                    <label class="custom-large-checkbox" for="EnglishAsSecondLanguage_1">
                        <span class="fa fa-check fa-2x"></span>
                    </label>
                </div>

                <div class="large-label-right">
                    Yes
                </div>

                <div class="large-checkbox-left">
                    <input checked type="radio" id="EnglishAsSecondLanguage_2" name="EnglishAsSecondLanguage" value="false">
                    <label class="custom-large-checkbox" for="EnglishAsSecondLanguage_2">
                        <span class="fa fa-check fa-2x"></span>
                    </label>
                </div>

                <div class="large-label-right">
                    No
                </div>
            </div>

            <div>
                @Html.ValidationMessageFor(m => m.EnglishAsSecondLanguage)
            </div>

        </div>
    </div>

    <div class="panel panel-default top-buffer-20">
        @s.FieldFor(m => m.FoodServicesEligibilityStatus)
    </div>

        <div class="panel panel-default top-buffer-20">
            <div>
                @Html.LabelFor(m => m.Gifted) *
            </div>
            <div class="form-group">

                <div class="input-group inline-block">
                    <div class="large-checkbox-left">
                        <input type="radio" id="Gifted_1" name="Gifted" value="true">
                        <label class="custom-large-checkbox" for="Gifted_1">
                            <span class="fa fa-check fa-2x"></span>
                        </label>
                    </div>

                    <div class="large-label-right">
                        Yes
                    </div>

                    <div class="large-checkbox-left">
                        <input checked type="radio" id="Gifted_2" name="Gifted" value="false">
                        <label class="custom-large-checkbox" for="Gifted_2">
                            <span class="fa fa-check fa-2x"></span>
                        </label>
                    </div>

                    <div class="large-label-right">
                        No
                    </div>
                </div>

                <div>
                    @Html.ValidationMessageFor(m => m.Gifted)
                </div>

            </div>
        </div>

        <div class="panel panel-default top-buffer-20">
            <div>
                @Html.LabelFor(m => m.SpecialEducation) *
            </div>
            <div class="form-group">

                <div class="input-group inline-block">
                    <div class="large-checkbox-left">
                        <input type="radio" id="SpecialEducation_1" name="SpecialEducation" value="true">
                        <label class="custom-large-checkbox" for="SpecialEducation_1">
                            <span class="fa fa-check fa-2x"></span>
                        </label>
                    </div>

                    <div class="large-label-right">
                        Yes
                    </div>

                    <div class="large-checkbox-left">
                        <input checked type="radio" id="SpecialEducation_2" name="SpecialEducation" value="false">
                        <label class="custom-large-checkbox" for="SpecialEducation_2">
                            <span class="fa fa-check fa-2x"></span>
                        </label>
                    </div>

                    <div class="large-label-right">
                        No
                    </div>
                </div>

                <div class="file-upload">
                    @s.FieldFor(m => m.SpecialEducationFile).Attrs(fileAttributes).Label("")
                </div>
                <div>
                    @Html.ValidationMessageFor(m => m.SpecialEducation)
                </div>
            </div>

        </div>
    
        <div class="panel panel-default top-buffer-20">
            <div>
                @Html.LabelFor(m => m.TitleParticipation) *
            </div>
            <div class="form-group">

                <div class="input-group inline-block">
                    <div class="large-checkbox-left">
                        <input type="radio" id="TitleParticipation_1" name="TitleParticipation" value="true">
                        <label class="custom-large-checkbox" for="TitleParticipation_1">
                            <span class="fa fa-check fa-2x"></span>
                        </label>
                    </div>

                    <div class="large-label-right">
                        Yes
                    </div>

                    <div class="large-checkbox-left">
                        <input checked type="radio" id="TitleParticipation_2" name="TitleParticipation" value="false">
                        <label class="custom-large-checkbox" for="TitleParticipation_2">
                            <span class="fa fa-check fa-2x"></span>
                        </label>
                    </div>

                    <div class="large-label-right">
                        No
                    </div>
                </div>

                <div class="file-upload">
                    @s.FieldFor(m => m.TitleParticipationFile).Attrs(fileAttributes).Label("")
                </div>
                <div>
                    @Html.ValidationMessageFor(m => m.TitleParticipation)
                </div>
            </div>

        </div>
    
        <div class="panel panel-default top-buffer-20">
            <div>
                @Html.LabelFor(m => m.McKinneyVento) *
            </div>
            <div class="form-group">

                <div class="input-group inline-block">
                    <div class="large-checkbox-left">
                        <input type="radio" id="McKinneyVento_1" name="McKinneyVento" value="true">
                        <label class="custom-large-checkbox" for="McKinneyVento_1">
                            <span class="fa fa-check fa-2x"></span>
                        </label>
                    </div>

                    <div class="large-label-right">
                        Yes
                    </div>

                    <div class="large-checkbox-left">
                        <input checked type="radio" id="McKinneyVento_2" name="McKinneyVento" value="false">
                        <label class="custom-large-checkbox" for="McKinneyVento_2">
                            <span class="fa fa-check fa-2x"></span>
                        </label>
                    </div>

                    <div class="large-label-right">
                        No
                    </div>
                </div>

                <div class="file-upload">
                    @s.FieldFor(m => m.McKinneyVentoFile).Attrs(fileAttributes).Label("")
                </div>
                <div>
                    @Html.ValidationMessageFor(m => m.McKinneyVento)
                </div>
            </div>
        </div>
    }
        <input type="submit" class="btn btn-default btn-primary top-buffer-20" value="Submit" />
        }


        @section scripts
        {
            Ngl.shared.radioButtons.init();

            Ngl.enrollment.enterProgramStatus.init();
        }
