@model NGL.Web.Models.Enrollment.EnterProgramStatusModel

@{
    ViewBag.Title = "Program Status";
    var fileAttributes = new {type = "file", @class = "form-control", disabled = "disabled"};
}

<h2>Program Status</h2>

@using (var f = Html.BeginNglForm(method: FormMethod.Post, enctype: EncType.Multipart))
{
    using (var s = f.BeginSection())
    {
        <div class="inline separator">
            @Html.EditorFor(m => m.TestingAccommodation)
            @s.FieldFor(m => m.TestingAccommodationFile).Attrs(fileAttributes).Label("")
        </div>

        <div class="inline separator">
            @Html.EditorFor(m => m.BilingualProgram)
        </div>

        <div class="inline separator">
            @Html.EditorFor(m => m.EnglishAsSecondLanguage)
        </div>

        <div class="inline separator">
            @s.FieldFor(m => m.FoodServiceEligibilityStatus)
        </div>

        <div class="inline separator">
            @Html.EditorFor(m => m.Gifted)
        </div>

        <div class="inline separator">
            @Html.EditorFor(m => m.SpecialEducation)
            @s.FieldFor(m => m.SpecialEducationFile).Attrs(fileAttributes).Label("")
        </div>

        <div class="inline separator">
            @Html.EditorFor(m => m.TitleParticipation)
            @s.FieldFor(m => m.TitleParticipationFile).Attrs(fileAttributes).Label("")
        </div>

        <div class="inline separator">
            @Html.EditorFor(m => m.McKinneyVento)
            @s.FieldFor(m => m.McKinneyVentoFile).Attrs(fileAttributes).Label("")
        </div>
    }
    <input type="submit" class="btn btn-default" value="Submit" />
}


@section scripts
{
    Ngl.enrollment.enterProgramStatus.init();
}
