@model NGL.Web.Models.Schedule.SetModel

@{
    ViewBag.Title = "Set Schedule";
}

<h2>Set Schedule</h2>

<div class="profile-photo-container">
    <img src="@Model.ProfilePhotoUrl" />
</div>

<div class="student-name-and-usi">
    @Html.DisplayTextFor(m => m.Name)
    @Html.DisplayNameFor(m => m.StudentUsi): 
    @Html.DisplayTextFor(m => m.StudentUsi)
</div>

@using (var f = Html.BeginChameleonForm(htmlAttributes: new HtmlAttributes(new {id = "schedule-student-form"})))
{
    using (var s = f.BeginSection("Info"))
    {
        @s.FieldFor(m => m.Session).AddLabelClass("category-title")
        @s.FieldFor(m => m.BeginDate)
        @s.FieldFor(m => m.EndDate)
        <div class="hidden">
            @s.FieldFor(m => m.SectionId).AddClass("hidden")
            @s.FieldFor(m => m.StudentUsi).Attr("value", @Model.StudentUsi)
        </div>
    }
}

<span class="category-title">
    Section @Html.TextBox("Section")
</span>
<button id="schedule-student-button">Save</button>

<div class="current-sections-container">
    <span class="category-title">Sections Assigned</span>
    <ul>
        @foreach (var item in Model.CurrentlyEnrolledSections)
        {
            <li>
                @Html.DisplayFor(modelItem => item)
            </li>
        }
    </ul>
</div>

@section Scripts {
    Ngl.schedule.getSchedule.init();
}
