@model NGL.Web.Models.Schedule.SetModel

@{
    ViewBag.Title = "Set Schedule";
}

<h2>Set Schedule</h2>

<div class="profile-photo-container">
    <img src="@Model.ProfilePhotoUrl"></img>
</div>

<div class="student-name-and-usi">
    @Html.DisplayTextFor(m => m.Name)
    @Html.DisplayNameFor(m => m.StudentUsi): 
    @Html.DisplayTextFor(m => m.StudentUsi)
</div>

@using (var f = Html.BeginNglForm())
{
    using (var s = f.BeginSection("Info"))
    {
        @s.FieldFor(m => m.Session)
        @s.FieldFor(m => m.BeginDate)
        @s.FieldFor(m => m.EndDate)
    }
}

Section @Html.TextBox("Section")
<input type="submit" id="get-sections" value="Submit" />

@section Scripts {
    Ngl.schedule.getSchedule.init();
}
