@model NGL.Web.Models.Schedule.SetModel

@{
    ViewBag.Title = "Set Schedule";
}

<div class="panel panel-gray">
    <h2>Set Schedule</h2>
    <div class="row clear-right-margin">
        <div class="col-md-3">
            <div class="panel panel-default text-center">
                <div>
                    <img class="profile-image" src="@Model.ProfilePhotoUrl" alt=""/>
                    <h3>
                        <strong>
                            @Html.ActionLink(Model.StudentName, MVC.Student.Index(Model.StudentUsi), new { @class = "black-text" })
                        </strong>
                    </h3>
                    <p>
                        @Html.DisplayNameFor(model => model.StudentUsi):
                        @Html.DisplayFor(model => model.StudentUsi)
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-md-9 clear-right-padding">
            <div class="panel panel-default padding-30">
                    @using (var f = Html.BeginChameleonForm(htmlAttributes: new HtmlAttributes(new { id = "schedule-student-form" })))
                    {
                        using (var s = f.BeginSection())
                        {
                            <div class="form-group">
                                <label class="category-title control-label">Session</label>
                                <div class="input-group">
                                    <select class="form-control" data-val="true" id="session-dropdown" name="session-dropdown">
                                        @foreach (var session in Model.Sessions)
                                        {
                                            if (session.SessionId == Model.Session)
                                            {
                                                <option selected="selected" class="session" begindate="@session.BeginDate.ToShortDateString()" enddate="@session.EndDate.ToShortDateString()" value="@session.SessionId">@session.SessionName</option>
                                            }
                                            else
                                            {
                                                <option class="session" begindate="@session.BeginDate.ToShortDateString()" enddate="@session.EndDate.ToShortDateString()" value="@session.SessionId">@session.SessionName</option>
                                            }
                                        }
                                    </select>
                                    <div class="input-group-addon required">
                                        <em class="required" title="Required">∗</em>
                                    </div>
                                </div>
                            </div>
                            @s.FieldFor(m => m.BeginDate).AddClass("datepicker")
                            @s.FieldFor(m => m.EndDate).AddClass("datepicker")
                            <div class="hidden">
                                @s.FieldFor(m => m.SectionId)
                                @s.FieldFor(m => m.StudentUsi).Attr("value", @Model.StudentUsi)

                                <div class="form-group">
                                    <label class="control-label" for="SectionId">Section id</label>
                                    <div class="input-group">
                                        <input class="form-control" data-val="true" id="SessionId" name="Session" type="text" value="" />
                                    </div>
                                    <span class="field-validation-valid help-block" data-valmsg-for="SectionId" data-valmsg-replace="true"></span>
                                </div>

                            </div>
                        }
                    }

                <div class="category-title">
                    Section
                </div>
                <div class="section-searchbox-container">
                    <input class="form-control" type="text" data-val="true" id="Section" />
                </div>
                <div class="field-validation-error">
                    @Html.DisplayTextFor(m => m.ErrorMessage)
                </div>

                <div id="schedule-student-button" class="btn btn-primary top-buffer-10">Assign</div>

            </div>
            
            <div class="current-sections-container">
                <h4>Sections Assigned</h4>
                <table class="table current-section-list">
                    @foreach (var item in Model.CurrentlyEnrolledSections)
                    {
                        <tr class="current-section-list-item">
                            <td class="scheduled-section-name">@Html.DisplayFor(modelItem => item.Name)</td>
                            <td class="hidden section-id">@item.SectionId</td>
                            <td class="scheduled-section-dates">
                                <span class="scheduled-section-begin-date">@item.BeginDate</span> -
                                <span class="scheduled-section-end-date">@item.EndDate</span>
                            </td>
                            <td class="delete-row-btn">
                                <div data-student-section-id="@item.StudentSectionId" data-section-id="@item.SectionId" class="btn btn-default pull-right remove-student">Remove</div>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    }
                </table>
            </div>

        </div>
    </div>


            
                            
</div>

@section Scripts {
    Ngl.schedule.setSchedule.init();
    Ngl.shared.sectionAutocomplete.init();
    Ngl.schedule.removeStudent.init();
}
