@using NGL.Web.Infrastructure.Security
@model IEnumerable<NGL.Web.Models.Location.IndexModel>

@{
    ViewBag.Title = "Classrooms";
    var success = TempData["ShowSuccess"] as bool?;
    var location = TempData["location"];
}

@if (success == true)
{
    <div id="profile-edit-success" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        @location successfully deleted.
    </div>
}
@if (success == false)
{
    <div id="profile-edit-error" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        @location cannot be deleted. It is in use.
    </div>
}

<h2>Classrooms</h2>
@if ((User as NglPrincipal).HasAccessTo("courseGeneration", "create"))
{
     @Html.ActionLink("Add Classroom", MVC.Location.Create(), new { @class = "btn btn-default" })
}

<div class="table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClassroomIdentificationCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaximumNumberOfSeats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OptimalNumberOfSeats)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="classroom-code">
                        @Html.DisplayFor(modelItem => item.ClassroomIdentificationCode)
                    </td>
                    <td class="max-seats">
                        @Html.DisplayFor(modelItem => item.MaximumNumberOfSeats)
                    </td>
                    <td class="optimal-seats">
                        @Html.DisplayFor(modelItem => item.OptimalNumberOfSeats)
                    </td>
                    @if ((User as NglPrincipal).HasAccessTo("courseGeneration", "delete"))
                    {
                        <td>
                            <form action="/Location/Delete" method="POST">
                                <input type="hidden" name="locationIdentity" value="@item.Identity" />
                                <input type="hidden" name="locationName" value="@item.ClassroomIdentificationCode" />
                                <input type="submit" class="btn btn-primary pull-right" value="Delete" />
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>