@using NGL.Web.Infrastructure.Security
@model IEnumerable<NGL.Web.Models.Location.IndexModel>

@{
    ViewBag.Title = "Classrooms";
}

<h2>Classrooms</h2>
@if ((User as NglPrincipal).HasAccessTo("courseGeneration", "create"))
{
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Add Classroom", "Create")</li>
    </ul>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassroomIdentificationCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumNumberOfSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptimalNumberOfSeats)
            </th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="classroom-code">
                    @Html.DisplayFor(modelItem => item.ClassroomIdentificationCode)
                </td>
                <td class="max-seats">
                    @Html.DisplayFor(modelItem => item.MaximumNumberOfSeats)
                </td>
                <td class="optimal-seats">
                    @Html.DisplayFor(modelItem => item.OptimalNumberOfSeats)
                </td>
            </tr>
        }
    </tbody>
</table>