@using NGL.Web.Infrastructure.Security
@model NGL.Web.Models.Student.ProfileModel
           
@{
    const string downloadFileText = "Download File";
    var fileAttributes = new { type = "file", @class = "form-control" };
}

<div id="readonly-academic-details" class="top-buffer-10">
    <h4 class="panel panel-default strong" data-toggle="collapse" data-parent="#accordion" href="#collapseAcademicDetails">
        @if (Model.AcademicDetail != null && Model.AcademicDetail.PerformanceHistoryFileUrl != null)
        {
            <span class="fa fa-file-text-o fa-1x"></span>
        }
        @Html.DisplayFor(model => model.AcademicDetail.SchoolYear) Academic Details <i class="fa fa-caret-down arrow"></i>
        
        @if (Model.AcademicDetail != null)
        {
            <span id="edit-academic-details-button" class="fa fa-pencil pull-right enabled-edit"></span>
        }
    </h4>
    <div id="collapseAcademicDetails" class="panel-collapse collapse">
        <dl class="dl-horizontal panel panel-default">

            @if (Model.AcademicDetail == null)
            {
                @Html.Raw("No Information Entered")
                @Html.ActionLink("Enter Academic Details", MVC.Enrollment.EnterAcademicDetails(@Model.StudentUsi), new { @class = "btn pull-right" })
            }
            else
            {
                <dt>
                    @Html.DisplayNameFor(model => model.AcademicDetail.WritingScore)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AcademicDetail.WritingScore)<br />
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AcademicDetail.ReadingScore)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AcademicDetail.ReadingScore)<br />
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AcademicDetail.MathScore)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AcademicDetail.MathScore)<br />
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AcademicDetail.PerformanceHistory)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AcademicDetail.PerformanceHistory)<br />
                </dd>

                if (Model != null && Model.AcademicDetail.PerformanceHistoryFileUrl != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.AcademicDetail.PerformanceHistoryFileUrl)
                    </dt>
                    <dd>
                        <a href="@Model.AcademicDetail.PerformanceHistoryFileUrl">@downloadFileText</a><br />
                    </dd>
                }
            }

        </dl>
    </div>

</div>
<div id="editable-academic-details" class="top-buffer-10">
    <h4 class="panel panel-default strong display-none">
        @if (Model.AcademicDetail != null && Model.AcademicDetail.PerformanceHistoryFileUrl != null)
        {
            <span class="fa fa-file-text-o fa-1x"></span>
        }
        @Html.DisplayFor(model => model.AcademicDetail.SchoolYear) Academic Details <i class="fa fa-caret-up arrow"></i>
        
        <span class="fa fa-pencil pull-right"></span>
    </h4>
    
    @if (Model.AcademicDetail != null)
    {
        <div class="display-none">
            <div class="dl-horizontal panel panel-default">
                @using (var f = Html.BeginNglForm(method: FormMethod.Post, action: "/enrollment/editacademicdetails?studentUsi=" + Model.StudentUsi, enctype: EncType.Multipart, htmlAttributes: new HtmlAttributes(new { id = "edit-academic-details-form" })))
                {
                    using (var s = f.BeginSection())
                    {
                        <div class="profile-edit">
                            <div class="hidden">
                                @s.FieldFor(m => m.StudentUsi)
                            </div>
                            <div class="hidden">
                                @s.FieldFor(m => m.AcademicDetail.SchoolYear)
                            </div>
                            @s.FieldFor(m => m.AcademicDetail.WritingScore)
                            @s.FieldFor(m => m.AcademicDetail.ReadingScore)
                            @s.FieldFor(m => m.AcademicDetail.MathScore)
                            @s.FieldFor(m => m.AcademicDetail.PerformanceHistory).Attr("rows", "5")
                            
                            @s.FieldFor(m => m.AcademicDetail.PerformanceHistoryFileUrl).Attrs(fileAttributes)
                            
                            @if (Model.AcademicDetail.PerformanceHistoryFileUrl != null)
                            {
                                <span>Existing File Uploaded</span>
                            }

                            @if ((User as NglPrincipal).HasAccessTo("enrollment", "edit"))
                            {
                                <div class="text-right top-buffer-10">
                                    @Html.ActionLink("Cancel", MVC.Student.Index(Model.StudentUsi), new { @class = "btn btn-default" })
                                    <div id="save-academic-details-edit" class="btn btn-primary">Save</div>
                                </div>
                            }
                        </div>
                    }
                }
            </div>
    </div>
    }
   
</div>
