@model IEnumerable<NGL.Web.Models.Student.IndexModel>

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<p>
    @Html.ActionLink("Enroll a Student", "CreateStudent", "Enrollment")
</p>
<table class="table" id="student-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.StudentUsi)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.FirstName, "Index", "Student", new { usi = item.StudentUsi }, null)
        </td>
        <td>
            @Html.ActionLink(item.LastName, "Index", "Student", new { usi = item.StudentUsi }, null)
        </td>
        <td>
            @Html.ActionLink(item.StudentUsi.ToString(), "Index", "Student", new { usi = item.StudentUsi }, null)
        </td>
    </tr>
}

</table>
