@using NGL.Web.Infrastructure.Security
@model IEnumerable<NGL.Web.Models.Student.IndexModel>

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

@if ((User as NglPrincipal).HasAccessTo("enrollment", "create"))
{
    @Html.ActionLink("Enroll a Student", MVC.Enrollment.CreateStudent(), new { @class = "btn btn-default" })
}

<div class="table-container">
    <table class="table table-striped" id="student-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentUsi)
                </th>
                <th>

                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentUsi)
                    </td>
                    <td>
                        @Html.ActionLink("Profile", MVC.Student.Index(item.StudentUsi), new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>