@model NGL.Web.Models.Student.EnrollmentModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@Html.AntiForgeryToken()
@using (var f = Html.BeginChameleonForm())
{
    using (var s = f.BeginSection("Signup for an account"))
    {
        @s.FieldFor(m => m.StudentUSI)
        @s.FieldFor(m => m.FirstName)
        @s.FieldFor(m => m.LastSurname)
        @s.FieldFor(m => m.SexTypeId)
        @s.FieldFor(m => m.BirthDate)
        @s.FieldFor(m => m.HispanicLatinoEthnicity)
        @s.FieldFor(m => m.OldEthnicityTypeId)
        @s.FieldFor(m => m.Id)
        @s.FieldFor(m => m.StreetNumberName)
        @s.FieldFor(m => m.ApartmentRoomSuiteNumber)
        @s.FieldFor(m => m.City)
        @s.FieldFor(m => m.StateAbbreviationTypeId)
        @s.FieldFor(m => m.PostalCode)
        @s.FieldFor(m => m.RaceTypeId)
        @s.FieldFor(m => m.LanguageDescriptorId)
        @s.FieldFor(m => m.LanguageUseTypeId)
    }
    using (var n = f.BeginNavigation())
    {
        @n.Submit("Create")
    }
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
