@model NGL.Web.Models.Student.CreateStudentModel

@{
    ViewBag.Title = "Enrollment";
}

<h2>Enrollment</h2>
@using (var f = Html.BeginChameleonForm())
{
    using (var s = f.BeginSection("Enroll a student"))
    {
        @s.FieldFor(m => m.StudentUsi)
        @s.FieldFor(m => m.FirstName)
        @s.FieldFor(m => m.LastName)
        @s.FieldFor(m => m.SexTypeEnum)
        @s.FieldFor(m => m.BirthDate).AddClass("datepicker")
        @s.FieldFor(m => m.HispanicLatinoEthnicity)
        @s.FieldFor(m => m.OldEthnicityTypeEnum)
        @s.FieldFor(m => m.StreetNumberName)
        @s.FieldFor(m => m.ApartmentRoomSuiteNumber)
        @s.FieldFor(m => m.City)
        @s.FieldFor(m => m.StateAbbreviationTypeEnum)
        @s.FieldFor(m => m.PostalCode)
        @s.FieldFor(m => m.LanguageDescriptorEnum)
    }
    using (var n = f.BeginNavigation())
    {
        @n.Submit("Create")
    }
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
