@model NGL.Web.Models.Student.StudentDetailsModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastSurname)
        </dd>
        <dt>
            Sex
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HispanicLatinoEthnicity)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.HispanicLatinoEthnicity)
        </dd>

        <dt>
            Race
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Race)
        </dd>
    </dl>
</div>
