@model NGL.Web.Data.Entities.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastSurname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SexTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SexTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HispanicLatinoEthnicity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HispanicLatinoEthnicity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OldEthnicityTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldEthnicityTypeId)
        </dd>
    </dl>
</div>
