@model NGL.Web.Data.Entities.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonalTitlePrefix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalTitlePrefix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenerationCodeSuffix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenerationCodeSuffix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaidenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaidenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SexTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SexTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthStateAbbreviationTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthStateAbbreviationTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthCountryCodeTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthCountryCodeTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnteredUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnteredUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MultipleBirthStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MultipleBirthStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileThumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileThumbnail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HispanicLatinoEthnicity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HispanicLatinoEthnicity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OldEthnicityTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldEthnicityTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EconomicDisadvantaged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EconomicDisadvantaged)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolFoodServicesEligibilityDescriptorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolFoodServicesEligibilityDescriptorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LimitedEnglishProficiencyDescriptorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LimitedEnglishProficiencyDescriptorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplacementStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplacementStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InternationalProvinceOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternationalProvinceOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CitizenshipStatusTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CitizenshipStatusTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>
</div>
