@model NGL.Web.Data.Entities.Student

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.StudentUSI)

        <div class="form-group">
            @Html.LabelFor(model => model.PersonalTitlePrefix, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonalTitlePrefix)
                @Html.ValidationMessageFor(model => model.PersonalTitlePrefix)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MiddleName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MiddleName)
                @Html.ValidationMessageFor(model => model.MiddleName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastSurname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastSurname)
                @Html.ValidationMessageFor(model => model.LastSurname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GenerationCodeSuffix, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GenerationCodeSuffix)
                @Html.ValidationMessageFor(model => model.GenerationCodeSuffix)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaidenName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaidenName)
                @Html.ValidationMessageFor(model => model.MaidenName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SexTypeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SexTypeId)
                @Html.ValidationMessageFor(model => model.SexTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BirthDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BirthDate)
                @Html.ValidationMessageFor(model => model.BirthDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CityOfBirth, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CityOfBirth)
                @Html.ValidationMessageFor(model => model.CityOfBirth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BirthStateAbbreviationTypeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BirthStateAbbreviationTypeId)
                @Html.ValidationMessageFor(model => model.BirthStateAbbreviationTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BirthCountryCodeTypeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BirthCountryCodeTypeId)
                @Html.ValidationMessageFor(model => model.BirthCountryCodeTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateEnteredUS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateEnteredUS)
                @Html.ValidationMessageFor(model => model.DateEnteredUS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MultipleBirthStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MultipleBirthStatus)
                @Html.ValidationMessageFor(model => model.MultipleBirthStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProfileThumbnail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProfileThumbnail)
                @Html.ValidationMessageFor(model => model.ProfileThumbnail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HispanicLatinoEthnicity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HispanicLatinoEthnicity)
                @Html.ValidationMessageFor(model => model.HispanicLatinoEthnicity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OldEthnicityTypeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OldEthnicityTypeId)
                @Html.ValidationMessageFor(model => model.OldEthnicityTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EconomicDisadvantaged, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EconomicDisadvantaged)
                @Html.ValidationMessageFor(model => model.EconomicDisadvantaged)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SchoolFoodServicesEligibilityDescriptorId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SchoolFoodServicesEligibilityDescriptorId)
                @Html.ValidationMessageFor(model => model.SchoolFoodServicesEligibilityDescriptorId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LimitedEnglishProficiencyDescriptorId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LimitedEnglishProficiencyDescriptorId)
                @Html.ValidationMessageFor(model => model.LimitedEnglishProficiencyDescriptorId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisplacementStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisplacementStatus)
                @Html.ValidationMessageFor(model => model.DisplacementStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoginId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoginId)
                @Html.ValidationMessageFor(model => model.LoginId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InternationalProvinceOfBirth, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InternationalProvinceOfBirth)
                @Html.ValidationMessageFor(model => model.InternationalProvinceOfBirth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CitizenshipStatusTypeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CitizenshipStatusTypeId)
                @Html.ValidationMessageFor(model => model.CitizenshipStatusTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id)
                @Html.ValidationMessageFor(model => model.Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastModifiedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastModifiedDate)
                @Html.ValidationMessageFor(model => model.LastModifiedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDate)
                @Html.ValidationMessageFor(model => model.CreateDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
