@model NGL.Web.Models.Student.HomeAddressModel


<div id="readonly-home-address" class="top-buffer-10">

    <h4 class="panel panel-default strong" data-toggle="collapse" data-parent="#accordion" href="#collapseHomeAddress">Home Address <i class="fa fa-caret-down arrow"></i>
        <span id="edit-home-address-button" class="fa fa-pencil pull-right enabled-edit"></span>
    </h4>

    <div id="collapseHomeAddress" class="panel-collapse collapse">
        <dl class="dl-horizontal panel panel-default">
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd name="@Html.DisplayNameFor(model => model.Address)">
                @Html.DisplayTextFor(model => model.Address)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address2)
            </dt>
            <dd name="@Html.DisplayNameFor(model => model.Address2)">
                @Html.DisplayTextFor(model => model.Address2)<br />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd name="@Html.DisplayNameFor(model => model.City)">
                @Html.DisplayTextFor(model => model.City)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>
            <dd name="@Html.DisplayNameFor(model => model.State)">
                @Html.DisplayTextFor(model => model.State)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PostalCode)
            </dt>

            <dd name="@Html.DisplayNameFor(model => model.PostalCode)">
                @Html.DisplayTextFor(model => model.PostalCode)
            </dd>
        </dl>
    </div>
</div>

<div id="editable-home-address" class="top-buffer-10">

    <h4 class="panel panel-default strong display-none">Home Address <i class="fa fa-caret-up arrow"></i>
        <span class="fa fa-pencil pull-right"></span>
    </h4>

    <div class="display-none">
        <div class="dl-horizontal panel panel-default">

            @using (var f = Html.BeginNglForm(htmlAttributes: new HtmlAttributes(new { id = "edit-home-address-form" })))
            {
                using (var s = f.BeginSection())
                {
                    <div class="profile-edit">
                        <div class="hidden">
                            @s.FieldFor(m => m.StudentUsi)
                        </div>
                        @s.FieldFor(m => m.Address)
                        @s.FieldFor(m => m.Address2)
                        @s.FieldFor(m => m.City)
                        @s.FieldFor(m => m.State)
                        @s.FieldFor(m => m.PostalCode)
                    </div>
                }

                <div class="text-right top-buffer-30">
                    @Html.ActionLink("Cancel", MVC.Student.Index(Model.StudentUsi), new { @class = "btn btn-default" })
                    <input id="save-home-address-edit" type="submit" class="btn btn-default btn-primary" value="Save" />
                </div>
            }

        </div>
    </div>
</div>