@using NGL.Web.Infrastructure.Security
@model NGL.Web.Models.Student.EditableParentModel

<div id="readonly-parent-info" class="top-buffer-10">
    <h4 class="panel panel-default strong" data-toggle="collapse" data-parent="#accordion" href="#collapseParentInfo">
        Parent Info <i class="fa fa-caret-down arrow"></i>

        @if ((User as NglPrincipal).HasAccessTo("enrollment", "edit"))
        {
            <a id="edit-parent-info-button" class="fa fa-pencil pull-right"></a>
        }
    </h4>

    <div id="collapseParentInfo" class="panel-collapse collapse">
        <div class="panel panel-default">
            <h4>
                <strong>
                    @Html.DisplayTextFor(model => model.FirstName)
                    @Html.DisplayTextFor(model => model.LastName)
                </strong>
            </h4>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Sex)
                </dt>

                <dd>
                    @Html.DisplayTextFor(model => model.Sex)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Relationship)
                </dt>
                <dd>
                    @Html.DisplayTextFor(model => model.Relationship)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TelephoneNumber)
                </dt>

                <dd>
                    @Html.DisplayTextFor(model => model.TelephoneNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </dt>

                <dd>
                    @Html.DisplayTextFor(model => model.EmailAddress)<br />
                </dd>
                
                <h4 class="panel-default"><strong>Address</strong></h4>
                @if (Model.SameAddressAsStudent == false)
                {
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.EditableParentAddressModel.Address)
                        </dt>
                        <dd>
                            @Html.DisplayTextFor(model => model.EditableParentAddressModel.Address)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EditableParentAddressModel.Address2)
                        </dt>
                        <dd>
                            @Html.DisplayTextFor(model => model.EditableParentAddressModel.Address2)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EditableParentAddressModel.City)
                        </dt>
                        <dd>
                            @Html.DisplayTextFor(model => model.EditableParentAddressModel.City)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EditableParentAddressModel.StateForDisplay)
                        </dt>
                        <dd>
                            @Html.DisplayTextFor(model => model.EditableParentAddressModel.StateForDisplay)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EditableParentAddressModel.PostalCode)
                        </dt>
                        <dd>
                            @Html.DisplayTextFor(model => model.EditableParentAddressModel.PostalCode)
                        </dd>
                    </dl>
                }
                else
                {
                    <p>Same as student</p>
                    <br />
                }
            </dl>
        </div>
    </div>
</div>
<div id="editable-parent-info" class="top-buffer-10">
    <h4 class="panel panel-default strong display-none">
        Parent Info
    </h4>
    <div class="dl-horizontal panel panel-default display-none">
        @using (var f = Html.BeginNglForm(htmlAttributes: new HtmlAttributes(new { id = "edit-parent-info-form" })))
        {
            using (var s = f.BeginSection(""))
            {
                <div class="profile-edit">
                    <div class="hidden">
                        @s.FieldFor(m => m.ParentUSI)
                    </div>
                    
                    @s.FieldFor(m => m.FirstName)
                    @s.FieldFor(m => m.LastName)
                    @s.FieldFor(m => m.Sex)
                    @s.FieldFor(m => m.Relationship)
                    @s.FieldFor(m => m.TelephoneNumber)
                    @s.FieldFor(m => m.EmailAddress)
                    @s.FieldFor(m => m.SameAddressAsStudent)
                    @s.FieldFor(m => m.EditableParentAddressModel.Address)
                    @s.FieldFor(m => m.EditableParentAddressModel.Address2)
                    @s.FieldFor(m => m.EditableParentAddressModel.City)
                    @s.FieldFor(m => m.EditableParentAddressModel.State)
                    @s.FieldFor(m => m.EditableParentAddressModel.PostalCode)

                    @if ((User as NglPrincipal).HasAccessTo("enrollment", "edit"))
                    {
                        <div class="text-right top-buffer-10">
                            <div id="cancel-parent-info-edit" class="btn btn-default">Cancel</div>
                            <div id="save-parent-info-edit" class="btn btn-primary">Save</div>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>