@model IEnumerable<NGL.Web.Models.Student.IndexModel>

@{
    ViewBag.Title = "Students";
}

<div class="panel panel-default index-header-panel">
    <div class="header-text">
        <h2>Students</h2>
    </div>
    <div class="header-buttons">
        @Html.ActionLink("Grade Students", MVC.ParentCourseGrade.Index(), new { @class = "btn btn-default" })
    </div>
</div>

<div class="index-table-container">
    <table class="table table-striped" id="student-table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentUsi)
            </th>
            <th>

            </th>
        </tr>
    </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentUsi)
                    </td>
                    <td class="table-buttons text-right">
                        @Html.ActionLink("Reports", MVC.Assessment.Week(item.StudentUsi, null), new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
