@using NGL.Web.Infrastructure.Security
@model NGL.Web.Models.Student.NameModel

<div id="readonly-student-name">
    <h3 class="inline">
        <strong>
            @Html.DisplayFor(model => model.FirstName)
            @Html.DisplayFor(model => model.LastName)
        </strong>
    </h3>
    @if ((User as NglPrincipal).HasAccessTo("enrollment", "edit"))
    {<h4 class="inline-block">
        <span id="edit-student-name-button" class="fa fa-pencil fa-1 pull-right enabled-edit"></span>
    </h4>
    }
</div>
<div id="editable-student-name" class="top-buffer-30">
    @using (var f = Html.BeginNglForm(htmlAttributes: new HtmlAttributes(new { id = "edit-student-name" })))
    {
        using (var s = f.BeginSection(""))
        {
            <div class="profile-edit student-name-edit">
                <div class="hidden">
                    @s.FieldFor(m => m.StudentUsi)
                </div>
                @s.FieldFor(m => m.FirstName)
                @s.FieldFor(m => m.LastName)

                @if ((User as NglPrincipal).HasAccessTo("enrollment", "edit"))
                {
                    <div class="margin-bottom-20">
                        <div id="cancel-student-name-edit" class="btn btn-default">Cancel</div>
                        <div id="save-student-name-edit" class="btn btn-primary">Save</div>
                    </div>
                }
            </div>
        }
    }
</div>
