@model NGL.Web.Models.Assessment.CreateModel


@{
    ViewBag.Title = "Create an Assessment";
}

<h2>Create Assessment</h2>

@using (var f = Html.BeginNglForm())
{
    using (var s = f.BeginSection(""))
    {
        @s.FieldFor(m => m.Session)
        <div class="hidden">
            @s.FieldFor(m => m.SessionId)
        </div>

        @s.FieldFor(m => m.Section)
        <div class="hidden">
            @s.FieldFor(m => m.SectionId)
        </div>

        @s.FieldFor(m => m.AssessmentTitle)
        @s.FieldFor(m => m.AdministeredDate)
        @s.FieldFor(m => m.QuestionType)
        @s.FieldFor(m => m.GradeLevel)
    }
    using (var s = f.BeginSection("Learning Standards"))
    {
        <div class="form-group">
            <label class="control-label" for="LearningStandard">Learning Standard</label>            <div class="input-group">
                <select class="form-control" id="LearningStandard">
                    <option selected="selected" value=""></option>
                    <optgroup label="ELA-Literacy">
                        <option>Reading</option>
                        <option>Writing</option>
                        <option>Speaking + Listening</option>
                    </optgroup>
                    <optgroup label="Math">
                        <option>Content</option>
                        <option>Practice</option>
                    </optgroup>
                </select>
            </div>
        </div>

        @s.FieldFor(m => m.CommonCoreStandard)
    }


    using (var t = f.BeginSection("Set Assessment"))
    {

        <div class="form-group">
            <label class="control-label" for="ReportingMethod">Reporting method</label>
            <select class="form-control" id="ReportingMethod" name="ReportingMethod">
                <option selected="selected" value="Percentile">Percentile</option>
            </select>
            <span class="field-validation-valid help-block" data-valmsg-for="ReportingMethod" data-valmsg-replace="true"></span>
        </div>
    
        <div class="enter-mastery">          
            @t.FieldFor(m => m.Mastery)
            @t.FieldFor(m => m.NearMastery)
        </div>
    }

    
    
    using (var n = f.BeginNavigation())
    {
        @n.Submit("Create")
    }
}

@section Scripts {
    Ngl.shared.sessionAutocomplete.init();
    Ngl.shared.sectionAutocomplete.init();
}
