@using System.Diagnostics.Eventing.Reader
@using Castle.Core.Internal
@using Ninject
@model NGL.Web.Models.Assessment.EnterResultsModel

@{
    ViewBag.Title = "Enter Assessment Results";
}

<h2>Enter Assessment Results</h2>

<p>
    <strong>Session</strong>
    @Model.Session
</p>

<p>
    <strong>Section</strong>
    @Model.Section
</p>

<p>
    <strong>Assessment Title</strong>
    @Model.AssessmentTitle
</p>

<p>
    <strong>Assessment Date</strong>
    @Model.AssessmentDate
</p>

<p>
    <strong>CCSS</strong>
    @Model.CCSS
</p>

<div>
    @if (!Model.StudentResults.IsNullOrEmpty())
    {
        <form method="POST" action="">
            <input class="hidden" name="AssessmentId" value="@Model.AssessmentId"/>
            <strong>Assessment Result</strong>
            @for (var i = 0; i < Model.StudentResults.Count; i++)
            {
                <p>
                    @Model.StudentResults[i].Name
                    @Html.TextBoxFor(s => Model.StudentResults[i].AssessmentResult)
                    @Html.ValidationMessageFor(s => Model.StudentResults[i].AssessmentResult)
                    <div class="hidden">
                        @Html.TextBoxFor(s => Model.StudentResults[i].StudentUsi)
                    </div>
				</p>
        	}
        <button class="btn btn-primary" type="submit">Save Results</button>
    	</form>
    }
    else
    {
        <p>No students have been assigned to this section on this assessment date</p>
    }
</div>