@using System.Diagnostics.Eventing.Reader
@using Castle.Core.Internal
@using NGL.Web.Models.Assessment
@using Ninject
@model NGL.Web.Models.Assessment.EnterResultsModel

@{
    ViewBag.Title = "Enter Assessment Results";
}

<h2>Enter Assessment Results</h2>

<p>
    <strong>Session</strong>
    @Model.Session
</p>

<p>
    <strong>Section</strong>
    @Model.Section
</p>

<p>
    <strong>Assessment Title</strong>
    @Model.AssessmentTitle
</p>

<p>
    <strong>Assessment Date</strong>
    @Model.AssessmentDate
</p>

<p>
    <strong>CCSS</strong>
    @Model.CCSS
</p>

<div>
    @if (!Model.StudentResults.IsNullOrEmpty())
    {
        <form method="POST" action="">
            <input class="hidden" name="AssessmentId" value="@Model.AssessmentId"/>
            <strong>Assessment Result</strong>
            @foreach (EnterResultsStudentModel enterResultsStudentModel in Model.StudentResults)
            {
                <p>
                    @enterResultsStudentModel.Name
                    @Html.TextBoxFor(s => enterResultsStudentModel.AssessmentResult)
                    @Html.ValidationMessageFor(s => enterResultsStudentModel.AssessmentResult)
                    <div class="hidden">
                        @Html.TextBoxFor(s => enterResultsStudentModel.StudentUsi)
                    </div>
                </p>
            }
            <div class="cancel-and-save-buttons">
                @Html.ActionLink("Cancel", MVC.Assessment.Index(), new { @class = "btn btn-default" })
                <button class="btn btn-primary" type="submit">Save Results</button>
            </div>
    	</form>
    }
    else
    {
        <p>No students have been assigned to this section on this assessment date</p>
    }
</div>