@using NGL.Web.Infrastructure.Security
@model IEnumerable<NGL.Web.Models.Assessment.IndexModel>

@{
    ViewBag.Title = "Assessments";
}

<h2>Assessments</h2>

@if ((User as NglPrincipal).HasAccessTo("assessment", "create"))
{
    @Html.ActionLink("Create Assessment", MVC.Assessment.Create(), new { @class = "btn btn-primary" })
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssessmentTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CCSS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model) {
        <tr>
            <td class="assessment-title">
                @Html.DisplayFor(modelItem => item.AssessmentTitle)
            </td>
            <td class="col-md-3">
                @Html.DisplayFor(modelItem => item.CCSS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Results", MVC.Assessment.EnterResults(item.id), new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</table>
