@model NGL.Web.Models.Assessment.AssessmentResultModel

@{
    ViewBag.Title = "Student Report";

    const int numberOfDaysInMonth = 30;
}
<div class="panel panel-gray">
    <h2>Student Report</h2>
    <div class="row clear-right-margin">
        <div class="col-md-3">
            <div class="panel panel-default text-center">
                <div>
                    <img class="profile-image" src="@Model.ProfilePhotoUrl" />
                    <h3>
                        <strong>
                            @Html.DisplayFor(model => model.FirstName)
                            @Html.DisplayFor(model => model.LastName)
                        </strong>
                    </h3>
                    <p>
                        @Html.DisplayNameFor(model => model.StudentUsi):
                        @Html.DisplayFor(model => model.StudentUsi)
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-9 clear-right-padding">
            <div class="panel panel-default find-session">
                <h4 class="strong">Session</h4>

                <div>

                </div>
                @Html.TextBoxFor(m => m.Session, new { @class = "form-control full-input" })
                @Html.HiddenFor(m => m.SessionId)
                @Html.HiddenFor(m => m.StudentUsi)
                @Html.HiddenFor(m => m.DayFrom)
            </div>

            @if (@Model.Session != null)
            {
                <div class="time-span-chooser">

                    <div>
                        <div id="week" class="result-view-period green-background unselected">
                            <h3>@Html.ActionLink("Week", MVC.Assessment.Week(@Model.StudentUsi, @Model.SessionId))</h3>
                        </div>

                        <div id="month" class="result-view-period green-background selected">
                            <h3>@Html.ActionLink("Month", MVC.Assessment.Month(@Model.StudentUsi, @Model.SessionId))</h3>
                        </div>
                    </div>

                    <div class="panel green-background">
                        <ul class="pager">
                            <li class="previous">
                                @Html.ActionLink(" ", MVC.Assessment.Month(
             @Model.StudentUsi, @Model.SessionId, @Model.DayFrom - numberOfDaysInMonth, @Model.DayTo - numberOfDaysInMonth), new { @class = "fa fa-arrow-left fa-2" })
                            </li>
                            <li>@Model.DateRange</li>
                            <li class="next">
                                @Html.ActionLink(" ", MVC.Assessment.Month(
             @Model.StudentUsi, @Model.SessionId, @Model.DayFrom + numberOfDaysInMonth, @Model.DayTo + numberOfDaysInMonth), new { @class = "fa fa-arrow-right fa-2" })
                            </li>
                        </ul>
                    </div>
                </div>
            }




        </div>
    </div>
    @if (@Model.Session != null)
    {
        <div>
            @if (Model.AssessmentResultRows != null && Model.AssessmentResultRows.Count > 0)
            {
                <table class="table table-report">
                    <tr>
                        <th class="col-xs-3 col-sm-3 col-md-3"></th>
                        @for (var i = 1; i <= numberOfDaysInMonth; i++)
                        {
                            <th>&nbsp;</th>
                        }
                    </tr>
                    @foreach (var row in Model.AssessmentResultRows)
                    {
                        <tr>
                            <td>
                                CCSS: @row.CommonCoreStandard<br />
                                Section Code: @row.SectionCode
                            </td>
                            @foreach (var result in @row.Results)
                            {
                                <td class="profile-result"><div class="result-pill @result"></div></td>
                            }
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="text-center">No data available for this time period.</h4>
                    </div>
                </div>
            }
        </div>
    }
</div>

@section Scripts {
    Ngl.shared.sessionAutocomplete.init();
    Ngl.assessment.result.init();
}
