@model NGL.Web.Models.Assessment.AssessmentResultModel

@{
    ViewBag.Title = "View Assessment Results";
}

<h2>View Assessment Results</h2>

@Html.TextBoxFor(m => m.Session)
@Html.HiddenFor(m => m.SessionId)
@Html.HiddenFor(m => m.StudentUsi)
@Html.HiddenFor(m => m.DayFrom)

<div class="col-md-2 profile-column">
    <div class="profile-photo-container">
        <img src="@Model.ProfilePhotoUrl" />
    </div>
</div>

<a id="GetResultsButton" class="btn btn-info">Get Results</a>
@if (Model.Session != null)
{
    <table class="table table-bordered">
        <tr>
            <th class ="col-sm-4"></th>
            @for (var i = 1; i <= 7; i++)
            {
                <th class="col-sm-1">@i</th>
            }
        </tr>
        <tr>
            @foreach (var row in Model.AssessmentResultRows)
            {
                <td>
                    CCSS: @row.CommonCoreStandard<br/>
                    Section Code: @row.SectionCode
                </td>
                foreach (var result in @row.Results)
                {
                    <td>@result</td>
                }
            }
        </tr>
    </table>

    @Html.ActionLink("Previous", "Result", "Assessment", 
            new { @studentUsi = @Model.StudentUsi, @sessionId = @Model.SessionId, @dayFrom = @Model.DayFrom - 7, @dayTo = @Model.DayTo - 7 }, null)
    @Html.ActionLink("Next", "Result", "Assessment", 
            new { @studentUsi = @Model.StudentUsi, @sessionId = @Model.SessionId, @dayFrom = @Model.DayFrom + 7, @dayTo = @Model.DayTo + 7 }, null)
}

@section Scripts {
    Ngl.shared.sessionAutocomplete.init();
    Ngl.assessment.result.init();
}
