@using Microsoft.Ajax.Utilities
@model NGL.Web.Models.Assessment.AssessmentResultModel

@{
    ViewBag.Title = "Student Report";
    const int numberOfDaysInWeek = 7;
}
<div class="panel panel-gray">
    <div class="panel panel-default extra-vertical-padding margin-bottom-10">
        <h2 class="profile-header">Student Report</h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel text-center">
                <div>
                    <img class="profile-image" src="@Model.ProfilePhotoUrl" alt="" />
                    <h3>
                        <strong>
                            @Html.ActionLink(Model.FirstName + " " + Model.LastName, MVC.Student.Index(Model.StudentUsi), new { @class = "black-text" })
                        </strong>
                    </h3>
                    <p>
                        @Html.DisplayNameFor(model => model.StudentUsi):
                        @Html.DisplayFor(model => model.StudentUsi)
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default find-session">
                <h4 class="strong">Session</h4>
                @Html.TextBoxFor(m => m.Session, new { @class = "form-control full-input" })
                @Html.HiddenFor(m => m.SessionId)
                @Html.HiddenFor(m => m.StudentUsi)
                @Html.HiddenFor(m => m.DayFrom)
            </div>

            @if (@Model.Session != null)
            {
                <div class="time-span-chooser">

                    <div>
                        <div id="week" class="result-view-period selected">
                            <h3>@Html.ActionLink("Week", MVC.Assessment.Week(@Model.StudentUsi, @Model.SessionId))</h3>
                        </div>

                        <div id="month" class="result-view-period unselected">
                            <h3>@Html.ActionLink("Month", MVC.Assessment.Month(@Model.StudentUsi, @Model.SessionId))</h3>
                        </div>
                    </div>

                    <div class="panel date-range-display">
                        <ul class="pager">
                            <li class="previous">
                                @Html.ActionLink(" ", MVC.Assessment.Week(
                         @Model.StudentUsi, @Model.SessionId, @Model.DayFrom - numberOfDaysInWeek, @Model.DayTo - numberOfDaysInWeek), new { @class = "fa fa-arrow-left fa-2" })
                            </li>
                            <li>@Model.DateRange</li>
                            <li class="next">
                                @Html.ActionLink(" ", MVC.Assessment.Week(
                         @Model.StudentUsi, @Model.SessionId, @Model.DayFrom + numberOfDaysInWeek, @Model.DayTo + numberOfDaysInWeek), new { @class = "fa fa-arrow-right fa-2" })
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
    @if (@Model.Session != null)
    {
        <div class="top-buffer-5">
            @if (Model.AssessmentResultRows != null && Model.AssessmentResultRows.Count > 0)
            {
                <table class="table table-report">
                    <tr>
                        <th class="col-xs-2 col-sm-2 col-md-2 ccss-header">
                            Assessment
                        </th>
                        @for (var i = 1; i <= numberOfDaysInWeek; i++)
                        {
                            <th class="col-xs-1">&nbsp;</th>
                        }
                    </tr>
                    @foreach (var row in Model.AssessmentResultRows)
                    {
                        <tr>
                            <td>
                                <button type="button" class="btn btn-link popover-dismiss" data-container="body" data-toggle="popover" data-placement="top" title="@row.AssessmentTitle" data-contentwrapper="#@row.AssessmentTitle.Replace(' ', '-')" data-html="true">
                                    @row.CommonCoreStandard
                                </button>
                                <div id="@row.AssessmentTitle.Replace(' ', '-')" class="assessment-info-placeholder">
                                    <strong>@row.SectionCode</strong><br />
                                    <strong>Date:</strong> @row.Date.ToShortDateString()<br />
                                    <strong>Question Type:</strong> @row.AssessmentTypeDescription<br />
                                    <strong>Grade:</strong> @row.Grade
                                </div>
                            </td>
                            @foreach (var result in @row.Results)
                            {
                                if (result.IsNullOrWhiteSpace())
                                {
                                    <td class="profile-result"><div class="week-result-pill @result"></div></td>
                                }
                                else
                                {
                                    <td class="profile-result">
                                        <button class="week-result-pill popover-dismiss @result" title="@row.AssessmentTitle" data-container="body" data-toggle="popover" data-placement="top" data-contentwrapper="#@row.AssessmentTitle.Replace(' ', '-')" data-html="true"></button>
                                    </td>
                                }
                            }
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="text-center">No data available for this time period.</h4>
                    </div>
                </div>
            }
        </div>
    }
</div>

@section Scripts {
    Ngl.shared.sessionAutocomplete.init();
    Ngl.assessment.result.init();
}
