@model NGL.Web.Models.Session.CreateModel

@{
    ViewBag.Title = "Create a Session";
}

<h2>Session</h2>

@using (var f = Html.BeginNglForm())
{
    using (var s = f.BeginSection("Info"))
    {
        @s.FieldFor(m => m.Term)
        @s.FieldFor(m => m.SchoolYear)
        @s.FieldFor(m => m.BeginDate)
        @s.FieldFor(m => m.EndDate)
        @s.FieldFor(m => m.TotalInstructionalDays)
    }
    using (var n = f.BeginNavigation())
    {
        @n.Submit("Create")
    }
}
