@using NGL.Web.Infrastructure.Security
@model IEnumerable<NGL.Web.Models.Session.IndexModel>

@{
    ViewBag.Title = "Sessions";
    var success = TempData["ShowSuccess"] as bool?;
    var session = TempData["session"];
}

@if (success == true)
{
    <div id="profile-edit-success" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        @session successfully deleted.
    </div>
}
@if (success == false)
{
    <div id="profile-edit-error" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        @session cannot be deleted. It is in use.
    </div>
}

<div class="panel panel-default index-header-panel">
    <div class="header-text">
        <h2>Sessions</h2>
    </div>
    @if ((User as NglPrincipal).HasAccessTo("session", "create"))
    {
        <div class="header-buttons">
            @Html.ActionLink("Create New Session", MVC.Session.Create(), new { @class = "btn btn-default" })
        </div>
    }
</div>
<div class="index-table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Term)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SchoolYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BeginDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalInstructionalDays)
                </th>
            </tr>
        </thead>
    
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-term="@Html.DisplayFor(modelItem => item.Term)">
                    <td class="term">
                        @Html.DisplayFor(modelItem => item.Term)
                    </td>
                    <td class="school-year">
                        @Html.DisplayFor(modelItem => item.SchoolYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BeginDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalInstructionalDays)
                    </td>
                    <td class="text-right table-buttons">
                        @if ((User as NglPrincipal).HasAccessTo("session", "view"))
                        {

                            @Html.ActionLink("View Sections", MVC.Section.ForSession(item.SessionIdentity), new { @class = "btn btn-default" })
                        }
                        @if ((User as NglPrincipal).HasAccessTo("session", "delete"))
                        {
                            <form action="/Session/Delete" method="POST">
                                <input type="hidden" name="sessionIdentity" value="@item.SessionIdentity" />
                                <input type="hidden" name="sessionName" value="@item.Term @item.SchoolYear" />
                                <input type="submit" class="btn btn-primary" value="Delete" />
                            </form>

                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>