@using NGL.Web.Infrastructure.Security
@model IEnumerable<NGL.Web.Models.Session.IndexModel>

@{
    ViewBag.Title = "Sessions";
}

<h2>Sessions</h2>
<ul class="nav nav-pills">
    @if((User as NglPrincipal).HasAccessTo("session", "create")){
        <li>@Html.ActionLink("Create New Session", "Create")</li>
    }
</ul>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalInstructionalDays)
            </th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="term">
                    @Html.DisplayFor(modelItem => item.Term)
                </td>
                <td class="school-year">
                    @Html.DisplayFor(modelItem => item.SchoolYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalInstructionalDays)
                </td>
            </tr>
        }
    </tbody>
</table>
