@using Castle.Core.Internal
@model NGL.Web.Models.Attendance.TakeAttendanceModel

@{
    ViewBag.Title = "Take Attendance";
}

<div class="panel panel-gray">
    <div class="panel-body">
        <h2>Take Attendance</h2>
        
@using (var f = Html.BeginNglForm("Save"))
{
    using (var s = f.BeginSection(""))
    {

        @s.FieldFor(m => m.Session)
        @s.FieldFor(m => m.Section)
        @s.FieldFor(m => m.Date).AddClass("datepicker")

        <div class="hidden">
            @s.FieldFor(m => m.SessionId)
        </div>
        <div class="hidden">
            @s.FieldFor(m => m.SectionId)
        </div>

        <button type="button" id="get-students-btn" class="btn btn-primary">Get Students</button>

        if (!Model.StudentRows.IsNullOrEmpty())
        {
            <div class="attendance-list">
                <div class="attendance-type-container">
                    <div class="attendance-type">Present</div>
                    <div class="attendance-type">Excused</div>
                    <div class="attendance-type">Unexcused</div>
                    <div class="attendance-type">Tardy</div>
                    <div class="attendance-type">Early dep.</div>
                </div>
                <div class="student-list">
                    @for (var i = 0; i < Model.StudentRows.Count; i++)
                    {
                        <div class="hidden">
                            @Html.TextBoxFor(tam => tam.StudentRows[i].StudentUsi)
                        </div>

                        <div class="attendance-list-item attendance-list-item-@(i%2)">
                            <img class="profile-photo-thumbnail" src="@Model.StudentRows[i].ProfileThumbnailUrl"/>
                            <div class="student-name">@Html.DisplayTextFor(tam => tam.StudentRows[i].StudentName)</div>
                            @s.FieldFor(tam => tam.StudentRows[i].AttendanceType).AsRadioList()
                        </div>
                    }
                </div>
                
                <div class="save-attendance">
                    @using (var n = f.BeginNavigation())
                    {
                        @n.Submit("Save").AddClass("btn btn-primary save-button")
                    }
                </div>
            </div>

            
        }
    }
}
    </div>
</div>

@section Scripts {
    Ngl.shared.sessionAutocomplete.init();
    Ngl.shared.sectionAutocomplete.init();
    Ngl.attendance.take.init();
}

